@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}

body {
	background: #fff url(../images/bg.jpg) center 0 repeat-x;
}

body,input,select{ font:13px/20px arial;}
table{ border-collapse:collapse;}
img{ border:0; vertical-align:middle;}
ul{ list-style:none;}


a{ color:#0072A7; text-decoration:underline;}
a:hover{ color:#f00;}

.intro_part {
	text-indent: 24px;
	font-size: 12px;
	margin: 5px 24px;
}

.intro_img {
	float: right;
	margin: 0 24px;
}

.black, .black a, a.black{ color:#333; text-decoration:none;}

.red, .red a, a.red{ color:#f00;}

.white, .white a, a.white{ color:#fff;}

.f_left{ float:left;}
.f_right{ float:right;}

.del{ text-decoration:line-through;}

.clear {
	clear: both;
}

#top, #header, #container, #footer, #child_site{ clear:both; margin:0 auto; width:900px;}

#top{ width:970px; height:27px; background:url(../Images/topbg.gif) repeat-x; border:1px solid #97A2AA;}
	.status{ float:left; width:600px; padding:2px 0 0 16px;}
	.member{ float:right; width:215px; margin-top:2px; *margin-top:3px;}
	.member li{ float:left; height:20px; padding:0 10px; background:url(../Images/topbg.gif) no-repeat 0 -27px;}

#header{
	background: #fff;
	height: 125px;
	width: 960px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
	#logo{ float:left; width:300px;}
	#logo2{float: right; width:200px;padding-top: 5px; margin-top: 16px; margin-right: 25px;}
	#nav{ float:left; margin-left: 14px; }
		#a_b_01{ text-align:right; height:34px; padding:30px 20px 0 0; font-family:Tahoma;}
		#a_b_01 a{ text-decoration:none;}
		

		#mainnav{
			margin-top: 10px;
		}
		#mainnav li{ float:left; font:14px/22px Tahoma; text-align:center; padding: 0px 40px 0px 36px; border-left:1px solid #DDE4E9;  border-bottom:1px solid #ADB9C2;}
		#mainnav li a{ text-decoration:none;}
		#mainnav li.current{ background:url(../Images/navMenu.gif) no-repeat center 0;}
		
#container{
	margin: 15px auto;
	width: 920px;
	padding: 20px 20px;
	background-color: white;
	border-radius: 5px;
}
	/*left content*/
	#intro{ float:left; width:186px; padding-bottom:30px;}
	#intro_detail{ float:left; width:100%; padding-bottom:30px;}
		
	
		
		#search{ margin:0;}
		.search_key{ width:138px; height:18px; line-height:18px; border:1px solid #ddd; border-top-color:#7c7c7c;}
		.search_sub{ width:39px; height:20px; border:0; background:url(../Images/search-sub.gif) no-repeat; display:inline;}
	
		#alltype{ margin:10px 0 0; background:url(../Images/subnav_t.gif) no-repeat;}
			.all_type{ font:600 14px/26px Arial; padding:22px 0 0 37px}
			#subnav{ background:url(../Images/subnav_m.gif) repeat-y;}
				#subnav ul{ background:url(../Images/subnav_b.gif) no-repeat 0 bottom; padding-bottom:10px;}
				#subnav li{ margin-left:40px; background:url(../Images/arrow.gif) no-repeat 0 8px; padding-left:20px; font:14px/26px Tahoma;}
		    #subnavbottom{ background:url(../Images/subnav_b.gif) no-repeat 0 bottom; padding-bottom:20px;}
		    
#part-header {
	width: 100%;
	overflow: hidden;
	border-radius: 5px;
}

#nav a {

    color: #812990;

}
/* end styles for validation helpers */