@charset "utf-8";
/* CSS Document */

#profile .txt{width:300px;float:left;padding-top:10px;}

.fontstyle{text-align: left;}

#profile h2{
	color:#e2437a;font-size:180%;
	border-bottom:double 3px #7e1083;
	padding:0 0 5px 35px;
	background:url(../Images/h2profdetail.gif) 7px center no-repeat;
	margin-bottom:15px;line-height:1.2;
	}
	
#profile h2 span{font-size:11px;display:block;}

#profile dl{font-size:110%;}
#profile dt{position:absolute;color:#7e1083;width:7em;text-align:right;}
#profile dd{padding:0 0 5px 8em;border-bottom:solid 1px #bf87c1;margin-bottom:15px;}

#profile .status{padding:5px 0;}
#profile .status div{
	background:#bf87c1;color:#fff;display:inline-block;
	padding:4px 10px;line-height:1.3;margin-right:4px;
	white-space:nowrap;margin-bottom:5px;
	}
	